@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* VARIABLE DEFINITION */
:root {
    --desktop-bg: hsl(0, 100%, 74%);
    --alert-bg: hsl(248, 32%, 49%);
    --border-color: hsl(246, 25%, 77%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.sub {
    width: 50%;
    height: 100%;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--desktop-bg);
    background-image: url("../images/bg-intro-desktop.png");
    background-size: 100%;
    padding: 5rem;
    display: flex;
    align-items: center; /*vertically centers child*/
}

.left {
    display: flex;
    align-items: center;
    color: white;
}

.left h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: .5em;
}

.left p {
    width: 80%;
}

.left .left-sub .counter {
    margin-top: 1em;
}

.left .left-sub .counter button {
    padding: .5em;
    border-radius: 5px;
    border: none;
    font-size: .8em;
}

.left .left-sub .counter button:hover{
    cursor: pointer;
}

.left .left-sub .counter input {
    color: var(--border-color);
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.right {
    display: flex;
    align-items: center;
    color: white;
}

.right .alert-box{
    width: 100%;
    padding: 1rem 0;
    color: #fff;
    border-radius: 8px;
    background-color: var(--alert-bg);
    text-align: center;
}

.right .alert-box p{
    font-size: .7em;
}

.right form{
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #fff;
    border-radius: 10px;
}

form input {
    width: 100%;
    color: white;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

form button {
    width: 100%;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
}